.left_index{
	width:100px;
	height:500px;
}
.content{
	
	width:600px;
	height: 500px;
}
.right_index{
	
	width:200px;
	height: 500px;
}
.logo{
	
	width: 100px;
	height: 100px;
}
.header{
	
	width: 820px;
	height: 100px;
}
.footer{
	
	width:940px;
	text-align: center;
}
.left_index,.content,.right_index,.header,.footer,.logo{
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float:left;
	top:0px;
	left: 0px;
background-color: skyblue;
}
img{
	align:left;
}
h1{
	text-align:center;
}
table,td{
	width: :100px;
}
a{
	font-variant: italic;
text-decoration: none;
}
ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}
li{
margin-top: 20px;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;

     }
